{% extends 'base.html' %}

{% block entries %}
    {% if entries %}
        {% for entry in entries %}
            <div id="entry">
                <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
                <h5>Posted by {{ entry.author}}, {{ entry.time_published|date:"f A, Y-n-j l" }}</h5>
                <div id="entry_content">
                    {{ entry.content_preview|linebreaks }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% if has_next or has_prev %}

    {% block nav_prev %}
        {% if has_prev %}
        <a href="{% url blog_page prev_page_num %}">« 上一页</a>
        {% endif %}
    {% endblock %}


    {% block nav_next %}
        {% if has_next %}
            <a href="{% url blog_page next_page_num %}">下一页 »</a>
        {% endif %}
    {% endblock%}

{% endif %}



{% block categories %}
    {% if categories %}
        <ul id="categories_list">
            {% for category in categories %}
                <li><a href="{{ category.get_absolute_url }}" title="{{ category.name }}目录下的所有文章">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block tags %}
    {% if tags %}
        <ul id="tags_list">
            {% for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}" title="{{ tag.name }}标签的所有文章"> {{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

