{% extends 'index.html' %}

{% block entries %}
    {% if entry %}
            <div id="entry">
                <div id="entry-header">
                        <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
                        <h5>{{ entry.author}}, {{ entry.time_published|date:"f A, Y-n-j l" }}&nbsp;&nbsp;&nbsp;<a href="{{ entry.get_absolute_url }}#comments">{{ entry.total_comments|length }}条评论</a></h5>
                        <div id="entry_content">
                            {{ entry.content|safe }}
                        </div>
                </div>
                <div class="entry-info">
                        <h5>标签：
                    {% for tag in entry.total_tags %}
                        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                    {% endfor %}
                    &nbsp;&nbsp;&nbsp;分类目录：
                    {% for category in entry.total_categories %}
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    {% endfor %}
                    &nbsp;&nbsp;&nbsp;分享：
        <!-- JiaThis Button BEGIN -->
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
	<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
        <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
                    </h5>
                </div>
            </div>
    {% endif %}
{% endblock %}

{% block nav_prev %}
    {% if has_prev %}
    <a href="{{ prev_entry.get_absolute_url }}">« {{ prev_entry.title }}</a>
    {% endif %}
{% endblock %}


{% block nav_next %}
    {% if has_next %}
        <a href="{{ next_entry.get_absolute_url }}">{{ next_entry.title }} »</a>
    {% endif %}
{% endblock %}

{% block entry_comments %}
<div id="comments">
        <h3 id="comment-title">{{ entry.total_comments|length }}条评论</h3>
              
              <ul class="comment-list">
                {% for comment in entry.total_comments %}
                <li class="comment-item">
                  <div id="comment-{{ forloop.counter }}">
                    
                    <div class="comment-meta"> 
                      <div class="author-name">
                        {% if comment.site_url %}
                                <a href="{{ comment.site_url }}"><strong>{{ comment.author }}</strong></a>
                        {% else %}
                                <strong>{{ comment.author }}</strong>
                        {% endif %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                        {{ comment.time_published|date:"f A, Y-n-j l" }}&nbsp;&nbsp;
                        <a href="{{ entry.get_absolute_url }}#comment-{{ forloop.counter }}">#{{ forloop.counter }}</a>
                      </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.content }}
                    </div>
                    
                  </div>
                </li>
                {% endfor %}
              </ul>
</div>
{% endblock %}


{% block add_comment %}
        <div id="add-comment">
                <h3 id="add-title">添加新评论</h3>
                <p>
                <form action="{% url add_comment %}" method="POST">
                  <ul class="add-comment-form">
                        {{ comment_form.as_ul }}
                  </ul>
                  <input type="submit" value="提交"></input>
                </form>
                </p>
        </div>
{% endblock %}

